@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@theme {
  --color-poke-gold: #ECA539;
  --color-poke-black: #353535;
  --color-poke-black-200: #5E5E5E;
  --color-poke-black-100: #BFBFBF;
  --color-poke-light-gray: #E8E8E8;
  --color-poke-light-gray-100: #F5F5F5;
  --color-poke-white: #F9F9F9;
  --color-poke-red: #F22539;
  --color-poke-dark-red: #C00E20;
}


